@font-face {
    font-family: Coolvetica ;
    src: url(/Windows/Fonts/Coolvetica.ttf));
    font-style:normal ;
    font-weight:lighter;
}


* {
    margin-left: 70px;
    margin-right: 70px;
}


body {
    background-color:#2C2F40 ;
    font-family: ;
}

.caja1 {
    background-color:#BFBFAA ;
    display: flex;
    flex-direction: row-reverse;
    padding: 100px;
    align-items: center;
    
}

.caja1 h1 {
  
}

.caja2 {
    background-color: #73555C;
    display: flex;
    width: 600px;
    height: 300px;

}
.titulos { 
    padding: auto; 
    font-size: 50px;
    
    
} 
.img {
    width:600px;
    height:600px;
    border-radius:320px;
    border:10px solid #666;
}