body{
    background-image: url(peru.avif);
    background-repeat: no-repeat;
    background-size: 100%;
}

p {
    background-color: yellow;

}

.boton-azul {
    background-color: blue;


}

#boton-unico {
    color: white;

}

a[target="_blank"] {
    color: green;

}

.contenedor p{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT',sans-serif;


}

#texto {
    color:cornflowerblue ;

}

div a{
    text-align: center;
    font-size: 2rem;
    color:green ;
}
div a:hover {
    text-align: center;
    font-size: 2rem;
    color:black ;
}

div a::after{
    content: " \2192";

}
.menu li {
    background-color:aqua ;
    display: inline;

}

#contenedor {
    background-color: blueviolet;
    display: inline;
}

h2~p{
    display: inline;
    background-color: blue;
}
