

p {
    background-color: yellow;

}

.boton-azul {
    background-color: blue;


}

#boton-unico {
    color: white;

}

a {
    color: green;

}

.contenedor {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT',sans-serif;


}

#texto {
    color:cornflowerblue ;

}

