
* {
    font-family:'Arial', Helvetica, serif ;
    color: rgb(0, 0, 0);
    text-align: ;
}

/*SOLO GENERAL LA TIPOGRAFIA Y COLOR BASE DE ELLA */
.navegacion {
    text-align: center;
    font-family:Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    background-color: #8d80ff;
    display: inline;
    text-decoration: none;
    
}

.navegacion:hover {
    color: #8d80ff;
    background-color: white;
    text-align: center;
    outline: 2px solid #8d80ff;
    
}


.titulo{
    text-align: center;
    color: rgb(49, 49, 49);
    font-size: 100px;
    
    
}


.parrafo {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    text-align:center;

}
#escuela {
    display: block;
    border: 1px solid beige  ;
    text-decoration:double;
    font-size: 23px;
    text-align: center;
}
#escuela:hover {
    display: block;
    color: white;
}
.general {
    text-align: center;
}

#imagen {
    
    width: 75%;
    right: 25%;
    outline: 2px solid black;
    outline-offset: 3px;
    
    
}



.classe1 {
    color: black;
    background-color:#8d80ff ;
    opacity: 60%;
    display:block;
    text-align: center;
    

}

span p{
    color: #000000;

}
span a{
    color: beige;
}
span a:hover{
    color: rgb(0, 255, 34);
}
#lista{
    text-align: center;
}



body {
   background-color:#bbb6b6 ;
    
}

footer{
    text-align: center;
}

