@import url(style.css);

#boton a{
    text-decoration: none;
    

}


.tabla {
    width: 50%; 
    left: 25%; 
    border-collapse: collapse;
    position: relative;
    
}

.palabras :hover{
    color: brown;

}

