@import url(style2.css);
@import url(font.css);

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para el encabezado */
    header {
        padding: 20px;
    }
    header h1 {
        font-size: 30px;
    }
    .button {
        padding: 10px 20px;
    }
    /* Estilos para los botones en el main */
    main button {
        margin: 5px;
        padding: 10px 20px;
    }
    main p {
        font-size: 14px;
    }
	.responsive-img {
		max-width: 80%; /* Ajusta el ancho máximo de la imagen para iPad */
		height: auto; /* Permite que la altura se ajuste automáticamente */
	  }

}

/* Estilos para dispositivos móviles (tamaño de pantalla similar a iPhone X) */
@media only screen and (max-width: 375px) {
    header {
        padding: 10px;
    }
    header h1 {
        font-size: 25px;
    }
    .button {
        padding: 5px 10px;
        font-size: 12px;
    }
    main button {
        margin: 3px;
        padding: 5px 10px;
        font-size: 12px;
    }
    main p {
        font-size: 12px;
    }
	.responsive-img {
		max-width: 90%; /* Ajusta el ancho máximo de la imagen para iPhone X */
		height: auto; /* Permite que la altura se ajuste automáticamente */
	  }
}

body {
    background-color: rgb(255, 255, 255);
	font-size: 16px;
	
}
h1 {
	display: flex;
	justify-content: center;
	font-size: 3rem;
}

.enunciados {
	color: indianred;
	font-family:Helvetica;
	font-size: 1rem;
}
button {
	background-color: #a4a0a0; /* Color de fondo gris para los botones */
	border: none; /* Sin bordes */
	padding: 10px 20px; /* Espaciado interno */
	border-radius: 10px; /* Bordes redondos */
	margin: 5px; /* Espaciado entre botones */
	cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}
button:active::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border-radius: 10px; /* Bordes redondos */
	background-color: rgba(0, 0, 0, 0.1); /* Color de sombra */
	z-index: -1; /* Para que la sombra esté detrás del botón */
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*INICIO BOTON NIGER GOD*/
.button {
	background:#7f8c8d;
	color:#000000;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:5px 0;
	text-align:center;
	width:100px;
	text-decoration:none;
	box-shadow:0px 1.5px 0px #373c3c;
}

.button span {
	margin-right:10px;
}

/*Colores*/
.button.blue {
	background:#555656;
	box-shadow:0px 3px 0px #000000;
}

.button.yellow {
	background:#e67e22;
	box-shadow:0px 3px 0px #b55704;
}


/*Tamaños*/
.button.medium {
	width:350px;
}


.button.large {
	width:450px;
}


.button.radius {
	border-radius:50px;
}

/*Efectos, Hover*/
.button:hover {
	box-shadow:0px 0px 0px;
	padding-top:4px;
}

/*FIN BOTON NEGRITO NIGGER GOD*/
.dark-mode {
    background-color: #333333; /* Tema oscuro */
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Tema claro */
    color: #333333;
}

#segunda {
	display: none;
}

#joanfeo {
	width:25% ;
	display: block;
	margin-left: auto;
	margin-right: auto;
}