@import url(style2.css);
@import url(font.css);

@media only screen and (max-width: 414px) {
    
    body {
        font-size: 14px;
    }

}
@media only screen and (max-width: 768px) {
    
    body {
        font-size: 16px;
    }

}

body {
    background-color: rgb(255, 255, 255);
	font-size: 16px;
	
}
h1 {
	display: flex;
	justify-content: center;
	font-size: 3rem;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*INICIO BOTON NIGER GOD*/
.button {
	background:#7f8c8d;
	color:#000000;
	display:inline-block;
	font-size:1.25em;
	margin:10px;
	padding:5px 0;
	text-align:center;
	width:100px;
	text-decoration:none;
	box-shadow:0px 1.5px 0px #373c3c;
}

.button span {
	margin-right:10px;
}

/*Colores*/
.button.blue {
	background:#555656;
	box-shadow:0px 3px 0px #000000;
}

.button.yellow {
	background:#e67e22;
	box-shadow:0px 3px 0px #b55704;
}


/*Tamaños*/
.button.medium {
	width:350px;
}


.button.large {
	width:450px;
}


.button.radius {
	border-radius:50px;
}

/*Efectos, Hover*/
.button:hover {
	box-shadow:0px 0px 0px;
	padding-top:7px;
}

/*FIN BOTON NEGRITO NIGGER GOD*/
.dark-mode {
    background-color: #333333; /* Tema oscuro */
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Tema claro */
    color: #333333;
}

#segunda {
	display: none;
}